@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?c3lnc8');
  src: url('../fonts/icomoon.eot?c3lnc8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c3lnc8') format('truetype'),
    url('../fonts/icomoon.woff?c3lnc8') format('woff'),
    url('../fonts/icomoon.svg?c3lnc8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Linearicons-Free';
  src: url('../fonts/Linearicons-Free.eot?gtzjot');
  src: url('../fonts/Linearicons-Free.eot?gtzjot#iefix') format('embedded-opentype'),
    url('../fonts/Linearicons-Free.ttf?gtzjot') format('truetype'),
    url('../fonts/Linearicons-Free.woff?gtzjot') format('woff'),
    url('../fonts/Linearicons-Free.svg?gtzjot#Linearicons-Free') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Linearicons-Free' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e800";
}

.icon-magic-wand:before {
  content: "\e803";
}

.icon-cloud-download:before {
  content: "\e80b";
}

.icon-lock1:before {
  content: "\e80f";
}

.icon-cog:before {
  content: "\e810";
}

.icon-trash:before {
  content: "\e811";
}

.icon-dice:before {
  content: "\e812";
}

.icon-heart:before {
  content: "\e813";
}

.icon-star:before {
  content: "\e814";
}

.icon-envelope:before {
  content: "\e818";
}

.icon-eye:before {
  content: "\e81b";
}

.icon-exit:before {
  content: "\e820";
}

.icon-license:before {
  content: "\e822";
}

.icon-book:before {
  content: "\e828";
}

.icon-user1:before {
  content: "\e82a";
}

.icon-users1:before {
  content: "\e82b";
}

.icon-cart:before {
  content: "\e82e";
}

.icon-phone-handset:before {
  content: "\e830";
}

.icon-phone1:before {
  content: "\e831";
}

.icon-map-marker1:before {
  content: "\e833";
}

.icon-bubble:before {
  content: "\e83f";
}

.icon-chart-bars:before {
  content: "\e843";
}

.icon-leaf:before {
  content: "\e849";
}

.icon-briefcase:before {
  content: "\e84c";
}

.icon-smile:before {
  content: "\e854";
}

.icon-alarm:before {
  content: "\e858";
}

.icon-clock:before {
  content: "\e864";
}

.icon-upload:before {
  content: "\e866";
}

.icon-magnifier:before {
  content: "\e86f";
}

.icon-chevron-up:before {
  content: "\e873";
}

.icon-chevron-down:before {
  content: "\e874";
}

.icon-chevron-left:before {
  content: "\e875";
}

.icon-chevron-right:before {
  content: "\e876";
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-star-o:before {
  content: "\f006";
}

.icon-user:before {
  content: "\f007";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-close:before {
  content: "\f00d";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-times:before {
  content: "\f00d";
}

.icon-lock:before {
  content: "\f023";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-edit:before {
  content: "\f044";
}

.icon-pencil-square-o:before {
  content: "\f044";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-heart-o:before {
  content: "\f08a";
}

.icon-phone:before {
  content: "\f095";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-bell-o:before {
  content: "\f0a2";
}

.icon-group:before {
  content: "\f0c0";
}

.icon-users:before {
  content: "\f0c0";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-unsorted:before {
  content: "\f0dc";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-comment-o:before {
  content: "\f0e5";
}

.icon-comments-o:before {
  content: "\f0e6";
}

.icon-bolt:before {
  content: "\f0e7";
}

.icon-flash:before {
  content: "\f0e7";
}

.icon-suitcase:before {
  content: "\f0f2";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-mail-reply:before {
  content: "\f112";
}

.icon-reply:before {
  content: "\f112";
}

.icon-meh-o:before {
  content: "\f11a";
}

.icon-location-arrow:before {
  content: "\f124";
}

.icon-cny:before {
  content: "\f157";
}

.icon-jpy:before {
  content: "\f157";
}

.icon-rmb:before {
  content: "\f157";
}

.icon-yen:before {
  content: "\f157";
}

.icon-sort-amount-desc:before {
  content: "\f161";
}

.icon-dribbble:before {
  content: "\f17d";
}

.icon-foursquare:before {
  content: "\f180";
}

.icon-pagelines:before {
  content: "\f18c";
}

.icon-google:before {
  content: "\f1a0";
}

.icon-pinterest-p:before {
  content: "\f231";
}