html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.breadcrumbs__inner {


    padding-top: 55px;
    overflow: hidden;
    max-width: 1200px; 

    .breadcrumbs__list {

        li {

            display: inline-block;
            position: relative;

            &+li {

                padding-left: 24px;
                color: #f3f3f8;

                &::before {

                    content: '/';
                    position: absolute;
                    left: 8px;
                    color: #f3f3f8;
                }
            }

            &:last-child {

                a,
                span {

                    color: #bfcad7;
                    
                }
            }
        }

        a {

            color: #fff;
        }
    }
}