@import 'global';
@import 'vars';
@import 'fonts';

// Start header

.header__top-inner {

    background-color: #eef1f3;
}

.header__top {

    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    &-box {

        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 530px;
        width: 100%;

        .header__top-button {

            font-size: 14px;
            color: #fff;
            line-height: 28px;
            @include f400;
            background-color: $blue;
            padding: 4px 18px;
            border-radius: 18px;
        }

        .header__top-menu {

            max-width: 350px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .message span {

                background-color: #62d03b;
            }

            .basket span {

                background-color: #0674ec;
            }
        }
    }

    .menu__box {

        height: 60px;
        width: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 40px;
    }

    .user__box-link {

        max-width: 175px;
        width: 100%;
        display: flex;

        .user__box-image {

            height: 50px;
            width: 50px;
            background-color: #7c7979;
            border-radius: 50%;
            margin-right: 20px;
        }

        .user__box-info {

            line-height: 22px;

            .user__name {

                font-size: 16px;
                color: #333;
                @include f500;
            }

            .user__money {

                font-size: 15px;
                color: #0674ec;
                @include f400;
            }
        }
    }
}

.header__circle {

    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;

    &::before {

        color: #7e8fa1;
    }

    span {

        position: absolute;
        width: 22px;
        height: 22px;
        text-align: center;
        border-radius: 50%;
        background-color: #ff6a6c;
        font-size: 14px;
        color: #fff;
        top: -16px;
        right: -11px;
        line-height: 21px;
        @include f500;
    }
}

.notification__menu {

    left: -20px;
    padding: 0 25px;
    width: 370px;

    &::before {

        left: 30px;
    }
}

.message__menu {

    right: 0;
    width: 370px;

    &::before {

        right: 15px;
    }

    &-item {

        padding: 0 25px;
    }

    .menu-item__image {

        margin-right: 15px;
    }

    .message__menu-title {

        padding: 0 25px;
        height: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: #000;
        @include f400;
        overflow: hidden;
        transition: all .3s;

        .message__title-link {

            font-size: 0px;
            color: #0674ec;
            transition: all .3s;
            overflow: hidden;
        }
    }
}

.basket__menu {

    width: 400px;
    right: -10px;

    &::before {

        position: absolute;
        right: 23px;
    }

    &-item {

        height: 125px;
        padding: 0 25px;
        border-bottom: 1px solid #e8ebf0;
        display: flex;
        justify-content: space-between;
    }

    .basket-item__title,
    .basket-item__theme {

        font-size: 16px;
        line-height: 22px;
        @include f500;
        color: #000;
    }

    .basket-item__theme {

        margin-bottom: 5px;
    }

    .basket-item__content {

        margin-left: -30px;
        margin-bottom: 5px;

    }

    .basket-item__product {

        font-size: 15px;
        line-height: 30px;
        @include f500;
        color: #7347c1;
        position: relative;
        padding-left: 20px;

        img {

            position: absolute;
            left: 0;
            top: 7px;
        }
    }

    .basket-item__tools {

        text-align: center;

        .basket-tools__item {

            margin: 15px 0;
        }

        .basket-tools__delete::before {

            padding: 8px;
            font-size: 15px;
            border-radius: 50%;
            color: #818c98;
            background-color: #f1ecf9;
        }

        .basket-tools__price {

            padding: 8px 12px;
            border-radius: 16px;
            font-size: 16px;
            color: #0674ec;
            background-color: #e6f1fd;
        }
    }

    .basket__menu-total {

        height: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 25px;
        font-size: 18px;
        @include f500;
        color: #000;

        span {

            margin-left: 30px;
        }
    }

    .basket__menu-buttons {

        height: 60px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 15px;
        @include f400;

        a {

            width: 50%;
            padding: 25px 0px;
            color: #fff;
            border: none;
            text-align: center;
        }

        .basket__button-cart {

            background-color: #7347c1;
        }

        .basket__button-checkout {

            background-color: $blue;
        }
    }
}

.user__box {

    height: 80px;
    margin-top: 25px;
    top: -5px;

    .user__menu {

        position: absolute;
        width: 270px;
        padding: 0 20px;
        overflow: hidden;
        right: 0;
        top: 81px;

        &::before {

            right: 25px;
        }

        .profile-link {

            &:before {
                content: "\e82a";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .dashboard-link {

            &:before {
                content: "\e800";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .settings-link {

            &:before {
                content: "\e810";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .purchase-link {

            &:before {
                content: "\e82e";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .favorite-link {

            &:before {
                content: "\e813";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .credits-link {

            &:before {
                content: "\e812";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .sales-link {

            &:before {
                content: "\e843";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .upload-link {

            &:before {
                content: "\e866";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .edit-link {

            &:before {
                content: "\e828";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .withdrawals-link {

            &:before {
                content: "\e84c";
                font-family: 'Linearicons-Free' !important;
            }
        }

        .logout-link {

            &:before {
                content: "\e820";
                font-family: 'Linearicons-Free' !important;
            }
        }
    }

    .user__menu-link {

        font-size: 15px;
        @include f400;
        color: #54667a;
        padding: 0 10px;

        &::before {

            margin-right: 15px;
            font-size: 15px;
            color: #54667a;
        }
    }
}

.notification__menu,
.message__menu,
.basket__menu,
.user__menu {

    position: absolute;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    top: 60px;
    background-color: #fff;
    z-index: 2;
    border-top-width: 0;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

    &::before {

        position: absolute;
        content: '';
        top: -10px;
        width: 16px;
        height: 9px;
        border-style: solid;
        border-width: 0 8px 9px 8px;
        border-color: transparent transparent $blue transparent;
    }

    .notification__menu-title {

        height: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: #000;
        @include f400;
        overflow: hidden;
        transition: all .3s;

        .notification__title-link {

            font-size: 0px;
            color: #0674ec;
            transition: all .3s;
            overflow: hidden;
        }
    }

    &-item {

        height: 0;
        border-top: 1px solid #e8ebf0;
        display: flex;
        align-items: center;
        transition: all .3s;
        overflow: hidden;
    }

    .menu-item__image,
    .message__menu-item__image {

        margin-right: 15px;

    }

    .menu-item__message {

        font-size: 0px;
        line-height: 0px;
        color: #747a86;
        @include f400;


        span {

            font-size: 0px;
            line-height: 0px;
            color: #333333;
            @include f500;
        }

        a {

            font-size: 0px;
            line-height: 0px;
            color: $blue;
            @include f400;
        }
    }

    .menu-item__date {

        font-size: 14px;
        line-height: 28px;
        color: #747a86;
        @include f400;
    }

    .menu-item__icon {

        font-size: 15px;
        padding: 8px;
        border-radius: 50%;
    }

    .icon-heart {

        background-color: #e6f1fd;
        color: $blue;
    }

    .icon-bubble {

        background-color: #f1ecf9;
        color: #7347c1;
    }

    .icon-cart {

        background-color: #fff0f0;
        color: #ff6a6c;
    }

    .icon-star {

        background-color: #effaeb;
        color: #62d03a;
    }
}

.menu__box,
.user__box {

    position: relative;


    &:hover {

        .notification__menu,
        .message__menu,
        .basket__menu,
        .user__menu {

            position: absolute;
            display: block;
            height: auto;
            border-top: 1px solid $blue;
            background-color: #fff;
            overflow: visible;
            transition: all .3s;

            &::before {

                position: absolute;
                content: '';
                top: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8px 9px 8px;
                border-color: transparent transparent $blue transparent;
            }

            &-item {

                height: 100px;
                border-top: 1px solid #e8ebf0;
                display: flex;
                align-items: center;
            }

            .notification__menu-title {

                height: 65px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;
                color: #000;
                @include f400;

                .notification__title-link {

                    font-size: 15px;
                    color: #0674ec;
                }
            }

            .menu-item__message {

                font-size: 15px;
                line-height: 20px;
                color: #747a86;
                @include f400;


                span {

                    font-size: 16px;
                    line-height: 20px;
                    color: #333333;
                    @include f500;
                }

                a {

                    font-size: 15px;
                    line-height: 22px;
                    color: $blue;
                    @include f400;
                }
            }

            .message__menu {

                padding: 0;

                .message__menu-item {

                    height: 85px;
                }
            }

            .message__menu-title {

                height: 65px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;
                color: #000;
                @include f400;

                .message__title-link {

                    font-size: 15px;
                    color: #0674ec;
                }
            }

            .message-menu__content {

                display: flex;
                justify-content: space-between;
                font-size: 15px;
                line-height: 20px;
                color: #747a86;
                @include f400;

                .message__title a {

                    font-size: 16px;
                    line-height: 20px;
                    color: #333;
                    @include f500;
                    margin-right: 10px;


                    &::before {

                        color: $blue;
                    }
                }

                .message-menu__date {

                    font-size: 16px;
                    line-height: 28px;
                    color: $blue;
                    @include f400;
                    margin-right: -15px;

                    span {

                        color: #747a86;
                    }
                }
            }

            .message-menu__text {

                font-size: 15px;
                line-height: 25px;
                color: #555;
                @include f400;
                margin-top: 5px;
                overflow: hidden;
            }
        }

        .basket__menu-item {

            height: 125px;
        }

        .user__menu {

            width: 270px;
            padding: 20px;
            height: auto;
            transition: all .3s;
        }

        .user__menu-link {

            font-size: 15px;
            @include f400;
            color: #54667a;
            padding: 13px 10px;
            width: 100%;
            transition: all .3s;

            &:hover {

                background-color: $blue;
                color: #fff;
                border-radius: 2px;

                &::before {

                    color: #fff;
                }
            }
        }
    }
}


.header__bottom-inner {

    background-color: #fff;
}

.header__bottom-box {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .header__bottom-search {

        max-width: 360px;
        width: 100%;
        align-items: center;

        form {

            position: relative;

            input {

                height: 45px;
                width: 100%;
                border-radius: 22px;
                border: 1px solid #d9dfe5;
                outline: none;
                padding: 0 25px;

                &::placeholder {

                    font-size: 15px;
                    @include f400;
                    color: #898f96;
                }
            }

            button {

                position: absolute;
                width: 70px;
                height: 45px;
                border-radius: 22px;
                background-color: #0674ec;
                outline: none;
                border: none;
                line-height: 30px;
                padding: 11px 0;
                right: 0;
                cursor: pointer;
            }
        }
    }
}

.header__bottom-menu {

    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
    @include f500;

    a:hover {

        color: $blue;
    }
}

.header-bottom__link-box {

    height: 50px;
    margin-top: 30px;
    position: relative;

    &:hover {

        .dropdown-menu {

            height: auto;
            padding: 20px;
            border-top: 1px solid $blue;
            transition: all 0.3s;

            .home-menu-link,
            .products-menu-link,
            .wordpress-menu-link {

                padding: 15px;
            }
        }

        .pages-menu-link {

            padding: 15px 0;
        }

        .pages-menu__item-content {

            padding-top: 20px;
        }

        .pages-menu__item-title {

            padding: 10px 0 20px;
        }
    }
}

.dropdown-menu {

    position: absolute;
    display: block;
    text-transform: none;
    width: 240px;
    background-color: #fff;
    z-index: 2;
    padding: 20px;
    border-top: 1px solid $blue;
    top: 50px;
    transition: all .3s;
}

a.home-menu-link,
.products-menu-link,
.wordpress-menu-link {

    font-size: 15px;
    @include f400;
    color: $text;
    padding: 0 15px;
    width: 100%;
    transition: all .3s;

    &:hover {

        background-color: $blue;
        color: #fff;
        border-radius: 2px;
    }
}

.home-menu,
.products-menu,
.wordpress-menu {

    height: 0;
    padding: 0 20px;
    overflow: hidden;
    border-top: none;
    transition: all .3s;
}

.pages-menu {

    height: 0;
    left: -456px;
    width: 1170px;
    padding: 0 20px;
    overflow: hidden;
    border-top: none;
    transition: all .3s;

    &__inner {

        display: flex;
        justify-content: space-between;
    }

    .pages__list-box,
    .others__list-box {

        width: 38%;
    }

    .pages-menu__item-content {

        padding-top: 0;
        transition: all .3s;
    }

    .pages-menu__item-title {

        padding: 0;
        border-bottom: 1px solid $border;
        font-size: 16px;
        @include f500;
        transition: all .3s;
    }

    .pages-list,
    .others-list {

        column-count: 2;
        column-gap: 30px;
    }

    .pages-menu-link {

        padding: 0;
        font-size: 15px;
        @include f400;
        color: $text;
        width: 100%;
        transition: all .3s;
    }
}





// End header


// Start Footer

.footer {

    background-color: #262b30;
}

.footer__inner {

    margin-top: 115px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;

    a:hover {

        color: #fff;
    }
}

.footer__col-info {

    max-width: 265px;
    width: 100%;

    .footer__col-logo {

        margin-bottom: 35px;
    }
}

.footer__col-text,
.footer__col-contacts {

    font-size: 15px;
    line-height: 28px;
    color: #ababab;
    @include f400;
    margin-bottom: 30px;

    .icon-phone-handset,
    .icon-envelope,
    .icon-map-marker1 {

        font-size: 15px;
        color: #fff;

        &::before {

            margin-right: 10px;
        }
    }

    .icon-map-marker1::before {

        margin-right: 15px;
    }

    a {

        color: #ababab;
        line-height: 32px;
    }

    span {

        font-size: 15px;
        line-height: 26px;
        color: #ababab;
        @include f400;
    }

    .footer__address-text {

        line-height: 26px;
        font-size: 15px;
        color: #ababab;
        @include f400;

    }

    .footer__col-contacts-address {

        display: flex;
        align-items: center;
    }
}

.footer__col-title {

    margin-bottom: 35px;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    @include f400;
}

.footer__col-news {

    max-width: 375px;
    width: 100%;

    .footer__col-links {

        .facebook-link {

            background-color: #395799;
        }

        .twitter-link {

            background-color: #19b2f5;
        }

        .google-link {

            background-color: #f05b44;
        }

        .pinterest-link {

            background-color: #9c0c1c;
        }

        .linkedin-link {

            background-color: #0da6be;
        }

        .dribble-link {

            background-color: #eb5891;
        }

        li {

            height: 42px;
            width: 42px;
            border-radius: 50%;
            position: relative;
            cursor: pointer;

            a {

                height: 16px;
                width: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &+li {

                margin-left: 15px;
            }
        }
    }

    .footer__col-search {

        margin-bottom: 50px;

        form {

            position: relative;
            max-width: 360px;

            input {

                height: 45px;
                width: 100%;
                border-radius: 22px;
                border: 1px solid #d9dfe5;
                outline: none;
                padding: 0 25px;

                &::placeholder {

                    font-size: 15px;
                    @include f400;
                    color: #898f96;
                }
            }

            button {

                position: absolute;
                width: 110px;
                height: 45px;
                border-radius: 22px;
                background-color: #0674ec;
                outline: none;
                border: none;
                font-size: 15px;
                line-height: 42px;
                @include f400;
                color: #fff;
                right: 0;
                cursor: pointer;
            }
        }
    }

    .footer__col-links ul {

        display: flex;
    }
}

.footer__copy {

    background-color: #192027;
    height: 95px;
    text-align: center;

    .footer__copy-text {

        font-size: 15px;
        color: #999999;
        @include f400;
        padding: 40px 0;

        span {

            color: #fff;
        }
    }
}















// End Footer










































@import 'media';